.header-content h1{
    font-size: 25px;
}
.header-content strong{
    font-size: 30px;
    font-weight: bolder;
}
.navbar-brand{
    font-family: "Fredoka One" !important;
    color: black !important;
    font-size: 30px;
}
.logo-icon{
    width: 50px;
    height: 50px;
}
.header-descripcion{
    font-size: 40px;
}
html{
    font-family: 'Questrial' !important
}
body{
    font-family: 'Questrial' !important
}